{
  "language": "node_js",
  "node_js": "7",
  "before_install": [
    ". $HOME/.nvm/nvm.sh && nvm install 6.1 && nvm use 6.1"
  ],
  "install": [
    "npm install -g firebase-tools"
  ],
  "after_success": [
    "firebase deploy --non-interactive --token \"$FIREBASE_TOKEN\""
  ],
  "sudo": false,
  "group": "stable",
  "dist": "trusty",
  "os": "linux"
}